/**************************************************************************************************
* Calendar CSS (used by $.nony.calendar)
**************************************************************************************************/
@charset "utf-8";

/**
 * Common
 */
.borderRadiusTop {border-top-left-radius:4px;border-top-right-radius:4px;}
.borderRadiusTl {border-top-left-radius:4px;}
.borderRadiusTr {border-top-right-radius:4px;}
.borderRadiusBottom {border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.borderRadiusBl {border-bottom-left-radius:4px;}
.borderRadiusBr {border-bottom-right-radius:4px;}
.borderRadiusAll {border-radius:4px;}

/**
 * Layout
 */
.nonyCalendarBase {position:absolute;z-index:500;border-radius:4px;
	padding:0px 0px;
	border:1px solid #CCCCCC;
	background-color:#ffffff;
}
.shadowForDivNonyCalendarBase {box-shadow:0px 0px 10px rgba(0, 0, 0, .3);}

.divNonyCalendarWindowHolder {width:100%;height:100%;border-radius:4px;}
.divNonyCalendarHeaderHolder {margin:0px auto;padding:8px 0px;text-align:center;border-top-left-radius:4px;border-top-right-radius:4px;transition:background .2s;
	border-bottom:1px solid #DDDDDD;
	background:#F9F9F9;
}
.divNonyCalendarHeaderHolder:hover {transition:background .2s;
	background:#F5F5F5;
}
.divNonyCalendarHeaderTitle {font-weight:bold;
	background:transparent;
}
.divNonyCalendarHeaderCloseButton {cursor:pointer;position:absolute;top:8px;right:8px;transition:all .2s;}
.divNonyCalendarHeaderCloseButton:after {content:"";line-height:0px;clear:both;}
.divNonyCalendarHeaderCloseButton i.icnEn:hover {font-size:1.1em;transform:scale(1.0, 1.0);}
.divNonyCalendarBody {margin:0px 0px;padding:0px 0px;
	border-bottom:0px solid #DDDDDD;
	background-color:#FFFFFF;
}
.divNonyCalendarTimeArea {padding:4px 4px;overflow:hidden;
	border-top:1px solid #DDDDDD;
	background:#f9f9f9;
}
.divNonyCalendarStatusBar {margin:0px auto;padding:8px 4px;text-align:center;clear:both;overflow:hidden;border-bottom-left-radius:3px;border-bottom-right-radius:3px;
	border-top:1px solid #DDDDDD;
	background:#F9F9F9;
}

/**
 * Calendar Navigation bar
 */
.nonyCalendarNavigator {margin:0px auto;padding:4px 4px;text-align:center;
	border-bottom:1px solid #DDDDDD;
	background:#FFFFFF;
}
.tblNonyCalendarNavigator {padding:0px;width:100%;}
.tdNonyCalendarNavigator, .tdNonyCalendarNavigatorLt {padding:0px;text-align:left;}
.tdNonyCalendarNavigatorCt {padding:0px;text-align:center;}
.tdNonyCalendarNavigatorRt {padding:0px;text-align:right;}

.ulNonyCalendarNavigator {margin:0px;padding:0px;display:inline-block;border-radius:3px;}
.ulNonyCalendarNavigator > li {display:inline;}
.ulNonyCalendarNavigator > li > a, .ulNonyCalendarNavigator > li > span {position:relative;padding:4px 9px;margin-left:-1px;text-decoration:none;
	color:#000000;
	border:1px solid #dddddd;
	background-color:#ffffff;
}
.ulNonyCalendarNavigator > li:first-child > a, .ulNonyCalendarNavigator > li:first-child > span {margin-left:0;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.ulNonyCalendarNavigator > li:last-child > a, .ulNonyCalendarNavigator > li:last-child > span {border-top-right-radius:3px;border-bottom-right-radius:3px;}
.ulNonyCalendarNavigator > li > a:hover, .ulNonyCalendarNavigator > li > span:hover, .ulNonyCalendarNavigator > li > a:focus, .ulNonyCalendarNavigator > li > span:focus {z-index:3;
	color:#000000;
	border-color:#dddddd;
	background-color:#eeeeee;
}
.ulNonyCalendarNavigator > .active > a, .ulNonyCalendarNavigator > .active > span,
.ulNonyCalendarNavigator > .active > a:hover, .ulNonyCalendarNavigator > .active > span:hover,
.ulNonyCalendarNavigator > .active > a:focus, .ulNonyCalendarNavigator > .active > span:focus {z-index:2;cursor:default;transition:background .2s;
	color:#ffffff;
	border-color:#337ab7;
	background-color:#337ab7;
}
.ulNonyCalendarNavigator > .disabled > span, .ulNonyCalendarNavigator > .disabled > span:hover, .ulNonyCalendarNavigator > .disabled > span:focus,
.ulNonyCalendarNavigator > .disabled > a, .ulNonyCalendarNavigator > .disabled > a:hover, .ulNonyCalendarNavigator > .disabled > a:focus {cursor:not-allowed;
	color:#777777;
	border-color:#dddddd;
	background-color:#ffffff;
}

.liNonyCalendarNavigatorButton {}
.aNonyCalendarNavigatorButtonEn {cursor:pointer;}
.aNonyCalendarNavigatorButtonEn:hover {}
.aNonyCalendarNavigatorButtonEn:link, .aNonyCalendarNavigatorButtonEn:visited, .aNonyCalendarNavigatorButtonEn:active {}
.aNonyCalendarNavigatorButtonDis {cursor:not-allowed;}

/* Overriden from bootstrap (Year Selectbox & Month Selectbox) */
.tdNonyCalendarNavigatorCt button.dropdown-toggle {padding:3px 10px 3px 4px;box-shadow:0px 0px 0px rgba(0, 0, 0, .075);border-radius:3px;
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	border:1px solid #CCCCCC;
	background:#FFFFFF;
}
.tdNonyCalendarNavigatorCt button.dropdown-toggle:hover, .tdNonyCalendarNavigatorCt button.dropdown-toggle:focus {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
	border-color:#66afe9;
	background-color:#ffffff;
}
.tdNonyCalendarNavigatorCt button.dropdown-toggle:active, .tdNonyCalendarNavigatorCt .bootstrap-select.open button.dropdown-toggle {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
	border-color:#66afe9;
	background:#FFFFFF;
}

.tdNonyCalendarNavigatorCt button.dropdown-toggle.disabled {padding:3px 10px 3px 4px;box-shadow:0px 0px 0px rgba(0, 0, 0, .075);opacity:0.6;border-radius:3px;
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	border:1px solid #CCCCCC;
	background:#FFFFFF;
}
.tdNonyCalendarNavigatorCt button.dropdown-toggle.disabled:hover, .tdNonyCalendarNavigatorCt button.dropdown-toggle.disabled:focus {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .5);
	border-color:#CCCCCC;
}
.tdNonyCalendarNavigatorCt button.dropdown-toggle > span.filter-option {padding-right:5px;}
.tdNonyCalendarNavigatorCt button.dropdown-toggle > span.caret {margin-right:-8px;}
.tdNonyCalendarNavigatorCt .dropdown-menu {margin-top:1px;font-size:1.0em;box-shadow:0px 0px 0px rgba(0, 0, 0, 0.1);}
.tdNonyCalendarNavigatorCt .dropdown-menu.open {box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);}
.tdNonyCalendarNavigatorCt .dropdown-menu > li > a {padding:2px 3px;min-width:20px;}
.tdNonyCalendarNavigatorCt .dropdown-menu > li > a:active, .tdNonyCalendarNavigatorCt .dropdown-menu > li > a:focus, .tdNonyCalendarNavigatorCt .dropdown-menu > li > a:active:focus {outline:0px;}
.tdNonyCalendarNavigatorCt .dropdown-menu > li > a:hover, .tdNonyCalendarNavigatorCt .dropdown-menu > li > a:focus {
	background-color:#e8e8e8;
}

/**
 * Calendar Dates table
 */
.divNonyCalendarTable {margin:0px auto;padding:2px 2px;text-align:center;}
.tblNonyCalendarTable {margin:0px auto;width:100%;border-collapse:separate;border-spacing:1px;
	border:1px solid transparent;
}
.tblNonyCalendarTable th, .tblNonyCalendarTable td {padding:6px 2px;text-align:center;transition:background .2s;
	border-radius:3px;
	border:1px solid transparent;
}
.tblNonyCalendarTable td.selectable {
}
.tblNonyCalendarTable td:not(.selectable):not(.weekNumber) {opacity:0.3;
}
.tblNonyCalendarTable th {font-size:1.0em;}
.tblNonyCalendarTable td {font-size:1.0em;}

.weekNumberHeader, .weekNumber {opacity:0.2;}
.tblNonyCalendarTable td.weekNumber {
}
.tblNonyCalendarTable td.weekNumber:not([weekNumber |= weekNumberBlank]) {
}
.tblNonyCalendarTable td.weekNumber[weekNumber |= weekNumberBlank] {}
.selectable {cursor:pointer;}
.sa {
	color:#0000FF;
}
.sunHeader {cursor:pointer;
	color:#FF0000;
}
.sunHeader:hover, .monHeader:hover {
	text-decoration:underline;
/* 	box-shadow:0px 0px 2px rgba(0, 0, 0, 0.1); */
}
.su {
	color:#FF0000;
}
.monHeader {cursor:pointer;}

.defaultDay {
	color:#ffffff;
	background:#337AB7;
}
.today {
	color:#ffffff;
	background:#F5CA8C;
}
.selectable:not(.today):not(.defaultDay):hover {
	background:#e8e8e8;
}

/**
 * Calendar time area
 */
.divNonyCalendarTimeAreaHolder {}
.tblNonyCalendarTimeArea {width:100%;}
.tdNonyCalendarTimeArea, .tdNonyCalendarTimeAreaLt {text-align:left;}
.tdNonyCalendarTimeAreaCt {text-align:center;}
.tdNonyCalendarTimeAreaRt {text-align:right;}

/**
 * Calendar status bar
 */
.divNonyCalendarStatusBarHolder {}
.tblNonyCalendarStatusBar {width:100%;}
.tdNonyCalendarStatusBar, .tdNonyCalendarStatusBarLt {text-align:left;}
.tdNonyCalendarStatusBarCt {text-align:center;}
.tdNonyCalendarStatusBarRt {text-align:right;}

/**
 * Calendar time text box
 */
.txtNonyCalendarTimeBoxEn {display:block;padding:4px 4px;width:100%;text-align:center;border-radius:3px;
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.txtNonyCalendarTimeBoxEn:hover, .txtNonyCalendarTimeBoxEn:focus {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
	border-color:#66afe9;
}

/**
 * Anchor in calendar
 */
.nonyCalendarBase .aEn {text-decoration:none;}
.nonyCalendarBase .aEn:hover {
	color:#FF6633;
}