/**************************************************************************************************
* Footer CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * Footer Layout
 */
#divFooterLeft {float:left;width:0%;display:none;}
#divFooterCenter {padding:6px 10px 6px 10px;width:100%;
	border-top:0px solid #D1D1D1;
	color:#939393;
	background:#F0F0F0;
}
#divFooterRight {float:right;width:0%;display:none;}

/**
 * Footer Left
 */

/**
 * Footer Center
 */
#divCopyRight {margin:0px auto;text-align:center;clear:both;font-weight:bold;font-size:0.9em;}

/**
 * Footer Right
 */