/**************************************************************************************************
* Tabs CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * tab holder
 */
.tabHolder {padding-top:8px;
	border-bottom:0px solid #DDDDDD;
}
.tabHolder:after {content:".";display:block;line-height:0px;font-size:1px;clear:both;}

/**
 * tab list holder (ul)
 */
.tabListHolder {padding:0px 5px;}
.tabList {font-weight:bold;}

/**
 * overriden from bootstrap
 */
.nav > li > a > img {}
.nav-tabs > li {}
.nav-tabs > li > a {margin-right:1px;padding:8px 20px;
	margin-bottom:-3px;
	color:#337AB7;
}
.nav-tabs > li > a:hover {cursor:pointer;transition:background .3s;
	top:-3px;
	border:1px solid #DDDDDD;
	border-top:4px solid #4D7496;
}
.nav-tabs > li.active > a {cursor:pointer;
	top:-3px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {cursor:pointer;
	border-top:4px solid #4D7496;
}

.nav > li.disabled > a {opacity:0.6;}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {opacity:0.6;
}
.nav-tabs > li.disabled.active > a {opacity:0.6;}
.nav-tabs > li.disabled.active > a, .nav-tabs > li.disabled.active > a:hover, .nav-tabs > li.disabled.active > a:focus {opacity:0.6;cursor:not-allowed;
}