/**************************************************************************************************
* Body Left CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * Body Left Common
 */
#divBodyLeft {overflow:auto;border-left:0px;
	border-top:1px solid #D1D1D1;
	border-right:1px solid #D1D1D1;
	border-bottom:0px solid #D1D1D1;
	border-left:0px solid #D1D1D1;
	background:#FFFFFF;
}
#divBodyLeftMenuPanel {}

/**
 * Left menu header
 */
#divLeftMenuHeader {margin-top:0px;padding:14px 12px;text-transform:uppercase;font-size:1.0em;font-weight:900;cursor:default;outline:0px;box-shadow:0px 1px 2px rgba(0, 0, 0, .3);
	text-shadow:1px 1px 2px rgba(255, 255, 255, 1.0);
	border-radius:0px;
	border:0px;
	border-bottom:1px solid #AAAAAA;
}
#divLeftMenuHeader:hover {
	background-color:#ffffff;
}
#divLeftMenuHeader a {padding-left:24px;opacity:0.9;cursor:default;color:#000000;text-decoration:none;}
#divLeftMenuHeader a:hover {
}

/**
 * Left menu items
 */
#divLeftMenu {margin-top:1px;padding:0px 0px;border-radius:0px;font-size:1.1em;box-shadow:0px 0px 0px rgba(0, 0, 0, .075);
	text-shadow:1px 1px 2px rgba(255, 255, 255, 1.0);
	border:0px;
	background:#F0F0F0;
}
.leftMenus {padding:10px 10px 10px 16px;cursor:pointer;list-style:none;transition:background .2s;
	border-bottom:1px solid #E0E0E0;
}
.leftMenus:hover, .leftMenus:link, .leftMenus:visited {
	background-color:#F9F9F9;
}
.leftMenus:active {
	background-color:#E8E8E8;
}
.leftMenusSelected {padding:10px 10px 10px 16px;cursor:pointer;list-style:none;transition:background .2s;
	color:#337AB7;font-weight:bold;
	border-bottom:1px solid #EBEBEB;
	background-color:#F9F9F9;
}
.leftMenusSelected:hover, .leftMenusSelected:link, .leftMenusSelected:visited {
	background-color:#F9F9F9;
}
.leftMenusSelected:active {
	background-color:#E8E8E8;
}

/**
 * Left Menu Accordion - Project Left Menus(Level2 and Level3)
 */
.leftMenuAccordionHolder {}
.leftMenuAccordionGroup {}
.leftMenuAccordionGroup h3 {border-radius:0px;border:1px solid transparent;padding:12px 4px 12px 36px !important;box-shadow:0px 1px 4px rgba(0, 0, 0, .1);text-shadow:1px 1px 2px rgba(255, 255, 255, 1.0);outline:0px;
	border-bottom:1px solid #D3D3D3;
	background-color:#F3F3F3 !important;
}
.leftMenuAccordionGroup h3.selected {
	background-color:#F9F9F9 !important;
}
.leftMenuAccordionGroup h3:hover {
	background-color:#F9F9F9 !important;
}
.leftMenuAccordionContents {border-radius:0px;border:0px;margin-bottom:0px !important;padding:0px 0px !important;
}
.leftMenuAccordionContents .leftMenus {padding:10px 10px 10px 18px;
	background-color:#FFFFFF;
}
.leftMenuAccordionContents .leftMenus:hover {
	background-color:#F7F7F7;
}