/**************************************************************************************************
* Button CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * Overriden from bootstrap
 */
.btn {padding:5px 10px;font-size:1.02em;transition:background .2s;box-shadow:0px 1px 1px rgba(0, 0, 0, .1);}
.btn:active, .btn:focus, .btn:active:focus {outline:0px;transition:background .2s;}

.btn-default {text-shadow:0px 1px 1px rgba(255, 255, 255, 1.0);box-shadow:0px 1px 1px rgba(0, 0, 0, .1);
	color:#000000;
	background-color:#f9f9f9;
}
.btn-default:not([disabled]):hover {
}
.btn-primary {text-shadow:0px 1px 1px rgba(0, 0, 0, 0.3);box-shadow:0px 1px 1px rgba(0, 0, 0, .3);
	color:#ffffff;
}
.btn-success {text-shadow:0px 1px 1px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 1px rgba(0, 0, 0, .2);
	color:#ffffff;
}
.btn-info {text-shadow:0px 1px 1px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 1px rgba(0, 0, 0, .2);
	color:#ffffff;
}
.btn-warning {text-shadow:0px 1px 1px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 1px rgba(0, 0, 0, .2);
	color:#ffffff;
}
.btn-danger {text-shadow:0px 1px 1px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 1px rgba(0, 0, 0, .3);
	color:#ffffff;
}

.btn-default:active {box-shadow:0px 0px 2px rgba(0, 0, 0, .4);
/* 	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
/* 			box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
}
.btn-primary:active {box-shadow:0px 0px 2px rgba(0, 0, 0, .7);
/* 	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
/* 			box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
}
.btn-success:active {box-shadow:0px 0px 2px rgba(0, 0, 0, .5);
/* 	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
/* 			box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
}
.btn-info:active {box-shadow:0px 0px 2px rgba(0, 0, 0, .5);
/* 	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
/* 			box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
}
.btn-warning:active {box-shadow:0px 0px 2px rgba(0, 0, 0, .5);
/* 	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
/* 			box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
}
.btn-danger:active {box-shadow:0px 0px 2px rgba(0, 0, 0, .6);
/* 	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
/* 			box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); */
}

.btn-default[disabled] {box-shadow:0px 1px 1px rgba(0, 0, 0, .1);
	background-color:#f9f9f9;
}
.btn-default[disabled]:hover {
	background-color:#f9f9f9;
}
.btn-primary[disabled] {box-shadow:0px 1px 1px rgba(0, 0, 0, .3);}
.btn-success[disabled] {box-shadow:0px 1px 1px rgba(0, 0, 0, .2);}
.btn-info[disabled] {box-shadow:0px 1px 1px rgba(0, 0, 0, .2);}
.btn-warning[disabled] {box-shadow:0px 1px 1px rgba(0, 0, 0, .2);}
.btn-danger[disabled] {box-shadow:0px 1px 1px rgba(0, 0, 0, .3);}