/**************************************************************************************************
* Elements CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * Common
 */

/* Anchor */
.aEn {cursor:pointer;}
.aDis {cursor:default;}

/* jQuery Accordion related elements */
.accordionContents {}

/* checkbox / radio */
input[type="radio"], input[type="checkbox"] {margin:0px 0px;width:14px;height:14px;}
input[type="radio"].inTblGrid, input[type="checkbox"].inTblGrid {vertical-align:-4px;}
input[type="radio"].inTbl, input[type="checkbox"].inTbl {vertical-align:-6px;}
input[type="radio"]:focus, input[type="checkbox"]:focus {outline:0px;}

/* contextual input/textarea */
input[type=text]:not([disabled]):not([readonly]).primary,
select:not([disabled]):not([readonly]).primary,
textarea:not([disabled]):not([readonly]).primary {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	color:#2e6da4;
	border-color:#2e6da4;
}
input[type=text]:not([disabled]):not([readonly]).primary:hover, input[type=text]:not([disabled]):not([readonly]).primary:focus,
select:not([disabled]):not([readonly]).primary:hover, select:not([disabled]):not([readonly]).primary:focus,
textarea:not([disabled]):not([readonly]).primary:hover, textarea:not([disabled]):not([readonly]).primary:focus {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #2e6da4;
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #2e6da4;
	border-color:#2e6da4;
}
input[type=text]:not([disabled]):not([readonly]).success,
select:not([disabled]):not([readonly]).success,
textarea:not([disabled]):not([readonly]).success {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	color:#3c763d;
	border-color:#3c763d;
}
input[type=text]:not([disabled]):not([readonly]).success:hover, input[type=text]:not([disabled]):not([readonly]).success:focus,
select:not([disabled]):not([readonly]).success:hover, select:not([disabled]):not([readonly]).success:focus,
textarea:not([disabled]):not([readonly]).success:hover, textarea:not([disabled]):not([readonly]).success:focus {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #67b168;
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #67b168;
	border-color:#2b542c;
}
input[type=text]:not([disabled]):not([readonly]).warning,
select:not([disabled]):not([readonly]).warning,
textarea:not([disabled]):not([readonly]).warning {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	color:#8a6d3b;
	border-color:#8a6d3b;
}
input[type=text]:not([disabled]):not([readonly]).warning:hover, input[type=text]:not([disabled]):not([readonly]).warning:focus,
select:not([disabled]):not([readonly]).warning:hover, select:not([disabled]):not([readonly]).warning:focus,
textarea:not([disabled]):not([readonly]).warning:hover, textarea:not([disabled]):not([readonly]).warning:focus {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #c0a16b;
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #c0a16b;
	border-color:#66512c;
}
input[type=text]:not([disabled]):not([readonly]).error,
select:not([disabled]):not([readonly]).error,
textarea:not([disabled]):not([readonly]).error {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	color:#a94442;
	border-color:#a94442;
}
input[type=text]:not([disabled]):not([readonly]).error:hover, input[type=text]:not([disabled]):not([readonly]).error:focus,
select:not([disabled]):not([readonly]).error:hover, select:not([disabled]):not([readonly]).error:focus,
textarea:not([disabled]):not([readonly]).error:hover, textarea:not([disabled]):not([readonly]).error:focus {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #ce8483;
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px #ce8483;
	border-color:#843534;
}

/* inline textbox with selectbox */
input[type=text].inline {display:inline-block;}

/**
 * image / icon
 */
.imgDis, .icnDis {cursor:not-allowed;}

.imgEn {cursor:pointer;transition:background .2s;}
img.icnEn:hover, img.imgEn:hover {transform:scale(1.1, 1.1);}
img.icnEn:active, img.imgEn:active {top:1px;position:relative;}
img.hor {margin-top:6px;}

.icnEn {cursor:pointer;transition:background .2s;}
i.icnEn:hover, i.imgEn:hover {font-size:1.4em;transform:scale(1.1, 1.1);}
i.icnEn:active, i.imgEn:active {top:1px;position:relative;}
i.hor {font-size:1.4em;margin-top:5px;}
i.glyphicon {font-size:1.4em;}

/**
 * Checkbox / Radio / Select
 */
/* checkbox */
.chkEn {cursor:pointer;}
.chkDis {cursor:not-allowed;}
.lblCheckEn {margin:0px 0px;padding:0px 20px;font-weight:normal;cursor:pointer;transition:color 0.2s linear;position:relative;display:inline-block;}
.lblCheckEn:hover {
	color:#FF6633;
}
.lblCheckDis {margin:0px 0px;padding:0px 20px;font-weight:normal;cursor:not-allowed;position:relative;display:inline-block;}
label.lblCheckEn > .chkEn, label.lblCheckDis > .chkDis {position:absolute;margin-left:-20px;vertical-align:-3px;}

.rdoEn {cursor:pointer;}
.rdoDis {cursor:not-allowed;}
.lblRadioEn {margin:0px 0px;padding:0px 20px;font-weight:normal;cursor:pointer;transition:color 0.2s linear;position:relative;display:inline-block;}
.lblRadioEn:hover {
	color:#FF6633;
}
.lblRadioDis {margin:0px 0px;padding:0px 20px;font-weight:normal;cursor:not-allowed;position:relative;display:inline-block;}
label.lblRadioEn > .rdoEn, label.lblRadioDis > .rdoDis {position:absolute;margin-left:-20px;vertical-align:-3px;}

label.withElem {margin-top:7px;}
label.block {display:block;padding-top:4px;padding-bottom:4px;width:5px;white-space:nowrap;}

/**
 * Textbox
 */
/* Label for textbox / textarea */
.lblEn, .lblTxtEn, .lblTxaEn {margin-top:6px;padding-right:8px;cursor:pointer;}
.lblEn:hover, .lblTxtEn:hover, .lblTxaEn:hover {}
.lblDis, .lblTxtDis, .lblTxaDis {cursor:default;}

/* Enabled */
.txtEn {display:block;padding:6px 4px;width:100%;border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.txtEn:hover, .txtEn:focus {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
	border-color:#66afe9;
}

/* Display */
.txtDpl {display:block;padding:7px 4px;width:100%;border-radius:3px;
	color:#555555;
	border:0px solid #cccccc;
	background-color:transparent;
	background-image:none;
}
.txtDpl:focus {outline:0px;}

/* Disabled / Readonly */
.txtDis {display:block;padding:6px 4px;width:100%;border-radius:3px;opacity:0.6;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.txtDis:focus {outline:0px;}

/**
 * Textarea
 */
/* Enabled */
.txaEn {display:block;padding:6px 4px;width:100%;border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.txaEn:hover, .txaEn:focus {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
	border-color:#66afe9;
}

/* Display */
.txaDpl {display:block;padding:7px 4px;width:100%;
	color:#555555;
	border:0px solid #cccccc;
	background-color:transparent;
	background-image:none;
}
.txaDpl:focus {outline:0px;}

/* Disabled / Readonly */
.txaDis {display:block;padding:6px 4px;width:100%;border-radius:3px;opacity:0.6;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.txaDis:focus {outline:0px;}


/**
 * overriden from bootstrap
 */
/* Checkbox / Radio */
.radio, .checkbox {margin-top:4px;margin-bottom:4px;}

.checkbox > label, .checkbox-inline {transition:color 0.2s linear;}
.checkbox > label:hover, .checkbox-inline:hover {
	color:#FF6633;
}
.checkbox.disabled > label:hover {
	color:#555555;
}

.radio > label, .radio-inline {transition:color 0.2s linear;}
.radio > label:hover, .radio-inline:hover {
	color:#FF6633;
}
.radio.disabled > label:hover {
	color:#555555;
}

label.disabled:hover {
	color:#555555;
}
div.checkbox.disabled label:hover, div.radio.disabled label:hover {
	color:#555555;
}
.radio input[type="radio"]:not([disabled]), .radio-inline input[type="radio"]:not([disabled]),
.checkbox input[type="checkbox"]:not([disabled]), .checkbox-inline input[type="checkbox"]:not([disabled]) {cursor:pointer;}


/*!
 * bootstrap selectbox is in bootstrap-select.css
 */
/* Selectbox Common */
select option[disabled] {
	color:#CCCCCC;
}

/* Selectbox - single */
.selSingle, .selSingleEn {padding:5px 1px;cursor:pointer;border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.selSingle:hover, .selSingleEn:hover, .selSingle:focus, .selSingleEn:focus {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
	border-color:#66afe9;
}

.selSingleDis {padding:5px 1px;cursor:not-allowed;opacity:0.6;border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.selSingleDis:focus {outline:0px;}

/* Selectbox - multiple */
.selMulti, .selMultiEn {padding:5px 1px;cursor:pointer;border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.selMulti:hover, .selMultiEn:hover, .selMulti:focus, .selMultiEn:focus {outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(102, 175, 233, .5);
	border-color:#66afe9;
}
.selMultiDis {padding:5px 1px;cursor:not-allowed;opacity:0.6;border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color:#555555;
	border:1px solid #cccccc;
	background-color:#ffffff;
	background-image:none;
}
.selMultiDis:focus {outline:0px;}

/* Selectbox - option group */
.selSingle optgroup, .selSingleEn optgroup {}
.selSingle optgroup > option, .selSingleEn optgroup > option {}