<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--/*
 * Framework Generated MyBatis DTO Mapper XML Source
 * - SYS_BOARD_FILE - Attached file for Bulletin board
 */-->
<mapper namespace="project.conf.resource.ormapper.mybatis.oracle.SysBoardFile.SysBoardFileMapper">
	<resultMap id="hashmap" type="java.util.HashMap"></resultMap>

	<select id="selectAll" parameterType="hashmap" resultType="hashmap">
	<![CDATA[
		SELECT FILE_ID,
		       ARTICLE_ID,
		       NEW_NAME,
		       ORIGINAL_NAME,
		       REPOSITORY_PATH,
		       FILE_ICON,
		       FILE_SIZE,
		       FILE_TYPE,
		       TO_CHAR(INSERT_DATE, 'yyyymmddhh24miss') AS INSERT_DATE,
		       INSERT_USER_ID,
		       TO_CHAR(UPDATE_DATE, 'yyyymmddhh24miss') AS UPDATE_DATE,
		       UPDATE_USER_ID
		  FROM SYS_BOARD_FILE
		 WHERE 1 = 1
		 ${auto_fill}
		 ${frameworkGeneratedWhere}
		 ${frameworkGeneratedOrderBy}
		 FOR UPDATE
	]]>
	</select>

	<insert id="insert" parameterType="hashmap">
	<![CDATA[
		INSERT INTO SYS_BOARD_FILE (
		       FILE_ID,
		       ARTICLE_ID,
		       NEW_NAME,
		       ORIGINAL_NAME,
		       REPOSITORY_PATH,
		       FILE_ICON,
		       FILE_SIZE,
		       FILE_TYPE,
		       INSERT_DATE,
		       INSERT_USER_ID,
		       UPDATE_DATE,
		       UPDATE_USER_ID
		       )
		VALUES (
		       ${FILE_ID},
		       ${ARTICLE_ID},
		       ${NEW_NAME},
		       ${ORIGINAL_NAME},
		       ${REPOSITORY_PATH},
		       ${FILE_ICON},
		       ${FILE_SIZE},
		       ${FILE_TYPE},
		       ${INSERT_DATE},
		       ${INSERT_USER_ID},
		       ${UPDATE_DATE},
		       ${UPDATE_USER_ID}
		       )
	]]>
	</insert>

	<insert id="insertWithDto" parameterType="project.conf.resource.ormapper.dto.oracle.SysBoardFile">
	<![CDATA[
		INSERT INTO SYS_BOARD_FILE (
		       FILE_ID,
		       ARTICLE_ID,
		       NEW_NAME,
		       ORIGINAL_NAME,
		       REPOSITORY_PATH,
		       FILE_ICON,
		       FILE_SIZE,
		       FILE_TYPE,
		       INSERT_DATE,
		       INSERT_USER_ID,
		       UPDATE_DATE,
		       UPDATE_USER_ID
		       )
		VALUES (
		       #{fileId,jdbcType=VARCHAR},
		       #{articleId,jdbcType=VARCHAR},
		       #{newName,jdbcType=VARCHAR},
		       #{originalName,jdbcType=VARCHAR},
		       #{repositoryPath,jdbcType=VARCHAR},
		       #{fileIcon,jdbcType=VARCHAR},
		       #{fileSize,jdbcType=NUMERIC},
		       #{fileType,jdbcType=VARCHAR},
		       #{insertDate,jdbcType=TIME},
		       #{insertUserId,jdbcType=VARCHAR},
		       #{updateDate,jdbcType=TIME},
		       #{updateUserId,jdbcType=VARCHAR}
		       )
	]]>
	</insert>

	<update id="update" parameterType="hashmap">
		UPDATE SYS_BOARD_FILE
		   SET ARTICLE_ID = ${ARTICLE_ID},
		       NEW_NAME = ${NEW_NAME},
		       ORIGINAL_NAME = ${ORIGINAL_NAME},
		       REPOSITORY_PATH = ${REPOSITORY_PATH},
		       FILE_ICON = ${FILE_ICON},
		       FILE_SIZE = ${FILE_SIZE},
		       FILE_TYPE = ${FILE_TYPE},
		       INSERT_DATE = ${INSERT_DATE},
		       INSERT_USER_ID = ${INSERT_USER_ID},
		       UPDATE_DATE = ${UPDATE_DATE},
		       UPDATE_USER_ID = ${UPDATE_USER_ID}
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	</update>

	<update id="updateWithDto" parameterType="project.conf.resource.ormapper.dto.oracle.SysBoardFile">
		UPDATE SYS_BOARD_FILE
		   SET ARTICLE_ID = #{articleId,jdbcType=VARCHAR},
		       NEW_NAME = #{newName,jdbcType=VARCHAR},
		       ORIGINAL_NAME = #{originalName,jdbcType=VARCHAR},
		       REPOSITORY_PATH = #{repositoryPath,jdbcType=VARCHAR},
		       FILE_ICON = #{fileIcon,jdbcType=VARCHAR},
		       FILE_SIZE = #{fileSize,jdbcType=NUMERIC},
		       FILE_TYPE = #{fileType,jdbcType=VARCHAR},
		       INSERT_DATE = #{insertDate,jdbcType=TIME},
		       INSERT_USER_ID = #{insertUserId,jdbcType=VARCHAR},
		       UPDATE_DATE = #{updateDate,jdbcType=TIME},
		       UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
		 WHERE 1 = 1
		 ${additionalAttributesForUpdateWithDto}
	</update>

	<update id="updateColumns" parameterType="project.conf.resource.ormapper.dto.oracle.SysBoardFile">
		UPDATE SYS_BOARD_FILE
		   SET ${frameworkGeneratedColumnsToUpdate}
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	</update>

	<delete id="delete" parameterType="hashmap">
	<![CDATA[
		DELETE SYS_BOARD_FILE
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	]]>
	</delete>
</mapper>