<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--/*
 * Framework Generated MyBatis DAO Mapper Query XML Source
 * - SYS_BOARD_FILE - Attached file for Bulletin board
 */-->
<mapper namespace="project.conf.resource.ormapper.dao.SysBoardFile.SysBoardFileDaoMapper">
	<resultMap id="hashmap" type="java.util.HashMap"></resultMap>
</mapper>