<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!--/* Index */-->
	<bean id="zebraBoardIndexAction" name="zebraBoardIndexAction" class="${name.package.framework}.example.app.board.index.IndexAction"/>
	<bean id="zebraBoardIndexBiz" name="zebraBoardIndexBiz" class="${name.package.framework}.example.app.board.index.IndexBizImpl" parent="baseBiz"/>

	<!--/* Notice */-->
	<bean id="zebraNoticeBoardAction" name="zebraNoticeBoardAction" class="${name.package.framework}.example.app.board.notice.NoticeAction"/>
	<bean id="zebraNoticeBoardBiz" name="zebraNoticeBoardBiz" class="${name.package.framework}.example.app.board.notice.NoticeBizImpl" parent="baseBiz"/>

	<!--/* Free Board */-->
	<bean id="zebraFreeBoardAction" name="zebraFreeBoardAction" class="${name.package.framework}.example.app.board.freeboard.FreeBoardAction"/>
	<bean id="zebraFreeBoardBiz" name="zebraFreeBoardBiz" class="${name.package.framework}.example.app.board.freeboard.FreeBoardBizImpl" parent="baseBiz"/>
</beans>