<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--/* Dummy DAO */-->
    <bean class="${name.package.framework}.example.conf.resource.ormapper.dao.Dummy.DummyHDaoImpl" id="zebraDummyDao" init-method="init" name="zebraDummyDao" parent="baseHDao" scope="prototype"/>
    <!--/* ZebraCommonCode DAO */-->
    <bean class="${name.package.framework}.example.conf.resource.ormapper.dao.ZebraCommonCode.ZebraCommonCodeHDaoImpl" id="zebraCommonCodeDao" init-method="init" name="zebraCommonCodeDao" parent="baseHDao" scope="prototype"/>
    <!--/* ZebraDomainDictionary DAO */-->
    <bean class="${name.package.framework}.example.conf.resource.ormapper.dao.ZebraDomainDictionary.ZebraDomainDictionaryHDaoImpl" id="zebraDomainDictionaryDao" init-method="init" name="zebraDomainDictionaryDao" parent="baseHDao" scope="prototype"/>
    <!--/* ZebraBoard DAO */-->
    <bean class="${name.package.framework}.example.conf.resource.ormapper.dao.ZebraBoard.ZebraBoardHDaoImpl" id="zebraBoardDao" init-method="init" name="zebraBoardDao" parent="baseHDao" scope="prototype"/>
    <!--/* ZebraBoardFile DAO */-->
    <bean class="${name.package.framework}.example.conf.resource.ormapper.dao.ZebraBoardFile.ZebraBoardFileHDaoImpl" id="zebraBoardFileDao" init-method="init" name="zebraBoardFileDao" parent="baseHDao" scope="prototype"/>
</beans>