<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Sys0202 - Common Code-->
    <bean class="${name.package.project}.app.sys.sys0202.Sys0202Action" id="sys0202Action" name="sys0202Action"/>
    <bean class="${name.package.project}.app.sys.sys0202.Sys0202BizImpl" id="sys0202Biz" name="sys0202Biz" parent="baseBiz"/>
    <!--Sys0204 - Annoucement-->
    <bean class="${name.package.project}.app.sys.sys0204.Sys0204Action" id="sys0204Action" name="sys0204Action"/>
    <bean class="${name.package.project}.app.sys.sys0204.Sys0204BizImpl" id="sys0204Biz" name="sys0204Biz" parent="baseBiz"/>
	<bean id="sys0204MessageSender" class="${name.package.project}.app.sys.sys0204.Sys0204MessageSender">
		<property name="javaMailSender" ref="javaMailSender" />
		<property name="messageSourceAccessor" ref="messageSourceAccessor" />
	</bean>
    <!--Sys0206 - Organisation Management-->
    <bean class="${name.package.project}.app.sys.sys0206.Sys0206Action" id="sys0206Action" name="sys0206Action"/>
    <bean class="${name.package.project}.app.sys.sys0206.Sys0206BizImpl" id="sys0206Biz" name="sys0206Biz" parent="baseBiz"/>
    <!--Sys0208 - User Management-->
    <bean class="${name.package.project}.app.sys.sys0208.Sys0208Action" id="sys0208Action" name="sys0208Action"/>
    <bean class="${name.package.project}.app.sys.sys0208.Sys0208BizImpl" id="sys0208Biz" name="sys0208Biz" parent="baseBiz"/>
    <!--Sys0402 - Menu-->
    <bean class="${name.package.project}.app.sys.sys0402.Sys0402Action" id="sys0402Action" name="sys0402Action"/>
    <bean class="${name.package.project}.app.sys.sys0402.Sys0402BizImpl" id="sys0402Biz" name="sys0402Biz" parent="baseBiz"/>
    <!--Sys0404 - Authority Group-->
    <bean class="${name.package.project}.app.sys.sys0404.Sys0404Action" id="sys0404Action" name="sys0404Action"/>
    <bean class="${name.package.project}.app.sys.sys0404.Sys0404BizImpl" id="sys0404Biz" name="sys0404Biz" parent="baseBiz"/>
    <!--Sys0406 - Menu - Authority Group-->
    <bean class="${name.package.project}.app.sys.sys0406.Sys0406Action" id="sys0406Action" name="sys0406Action"/>
    <bean class="${name.package.project}.app.sys.sys0406.Sys0406BizImpl" id="sys0406Biz" name="sys0406Biz" parent="baseBiz"/>
    <!--Sys0802 - Financial Period Type-->
    <bean class="${name.package.project}.app.sys.sys0802.Sys0802Action" id="sys0802Action" name="sys0802Action"/>
    <bean class="${name.package.project}.app.sys.sys0802.Sys0802BizImpl" id="sys0802Biz" name="sys0802Biz" parent="baseBiz"/>
    <!--Sys0804 - Reconciliation Category Mgmt.-->
    <bean class="${name.package.project}.app.sys.sys0804.Sys0804Action" id="sys0804Action" name="sys0804Action"/>
    <bean class="${name.package.project}.app.sys.sys0804.Sys0804BizImpl" id="sys0804Biz" name="sys0804Biz" parent="baseBiz"/>
</beans>
