<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Bsm0202 - Bank Transaction-->
    <bean class="${name.package.project}.app.bsm.bsm0202.Bsm0202Action" id="bsm0202Action" name="bsm0202Action"/>
    <bean class="${name.package.project}.app.bsm.bsm0202.Bsm0202BizImpl" id="bsm0202Biz" name="bsm0202Biz" parent="baseBiz"/>
    <!--Bsm0204 - Bank Statement Allocation-->
    <bean class="${name.package.project}.app.bsm.bsm0204.Bsm0204Action" id="bsm0204Action" name="bsm0204Action"/>
    <bean class="${name.package.project}.app.bsm.bsm0204.Bsm0204BizImpl" id="bsm0204Biz" name="bsm0204Biz" parent="baseBiz"/>
</beans>
