<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--/* Dummy DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.ProjectDummy.ProjectDummyHDaoImpl" id="projectDummyDao" init-method="init" name="projectDummyDao" parent="baseHDao" scope="prototype"/>
    <!--/* Report DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.Report.ReportHDaoImpl" id="reportDao" init-method="init" name="reportDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysMenu DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysMenu.SysMenuHDaoImpl" id="sysMenuDao" init-method="init" name="sysMenuDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysCommonCode DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysCommonCode.SysCommonCodeHDaoImpl" id="sysCommonCodeDao" init-method="init" name="sysCommonCodeDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysBoard DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysBoard.SysBoardHDaoImpl" id="sysBoardDao" init-method="init" name="sysBoardDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysBoardFile DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysBoardFile.SysBoardFileHDaoImpl" id="sysBoardFileDao" init-method="init" name="sysBoardFileDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysMenuAuthLink DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysMenuAuthLink.SysMenuAuthLinkHDaoImpl" id="sysMenuAuthLinkDao" init-method="init" name="sysMenuAuthLinkDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysUser DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysUser.SysUserHDaoImpl" id="sysUserDao" init-method="init" name="sysUserDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysAuthGroup DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysAuthGroup.SysAuthGroupHDaoImpl" id="sysAuthGroupDao" init-method="init" name="sysAuthGroupDao" parent="baseHDao" scope="prototype"/>
    <!--SysOrg DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysOrg.SysOrgHDaoImpl" id="sysOrgDao" init-method="init" name="sysOrgDao" parent="baseHDao" scope="prototype"/>
    <!--UsrBankAccnt DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrBankAccnt.UsrBankAccntHDaoImpl" id="usrBankAccntDao" init-method="init" name="usrBankAccntDao" parent="baseHDao" scope="prototype"/>
    <!--UsrBankStatement DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrBankStatement.UsrBankStatementHDaoImpl" id="usrBankStatementDao" init-method="init" name="usrBankStatementDao" parent="baseHDao" scope="prototype"/>
    <!--UsrBankStatementD DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrBankStatementD.UsrBankStatementDHDaoImpl" id="usrBankStatementDDao" init-method="init" name="usrBankStatementDDao" parent="baseHDao" scope="prototype"/>
    <!--UsrBsTranAlloc DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrBsTranAlloc.UsrBsTranAllocHDaoImpl" id="usrBsTranAllocDao" init-method="init" name="usrBsTranAllocDao" parent="baseHDao" scope="prototype"/>
    <!--SysFinancialPeriod DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysFinancialPeriod.SysFinancialPeriodHDaoImpl" id="sysFinancialPeriodDao" init-method="init" name="sysFinancialPeriodDao" parent="baseHDao" scope="prototype"/>
    <!--SysReconCategory DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysReconCategory.SysReconCategoryHDaoImpl" id="sysReconCategoryDao" init-method="init" name="sysReconCategoryDao" parent="baseHDao" scope="prototype"/>
    <!--UsrInvoice DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrInvoice.UsrInvoiceHDaoImpl" id="usrInvoiceDao" init-method="init" name="usrInvoiceDao" parent="baseHDao" scope="prototype"/>
    <!--UsrInvoiceD DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrInvoiceD.UsrInvoiceDHDaoImpl" id="usrInvoiceDDao" init-method="init" name="usrInvoiceDDao" parent="baseHDao" scope="prototype"/>
    <!--UsrQuotation DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrQuotation.UsrQuotationHDaoImpl" id="usrQuotationDao" init-method="init" name="usrQuotationDao" parent="baseHDao" scope="prototype"/>
    <!--UsrQuotationD DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrQuotationD.UsrQuotationDHDaoImpl" id="usrQuotationDDao" init-method="init" name="usrQuotationDDao" parent="baseHDao" scope="prototype"/>
    <!--UsrYearlyPayrollSummary DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrYearlyPayrollSummary.UsrYearlyPayrollSummaryHDaoImpl" id="usrYearlyPayrollSummaryDao" init-method="init" name="usrYearlyPayrollSummaryDao" parent="baseHDao" scope="prototype"/>
    <!--UsrCashExpense DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrCashExpense.UsrCashExpenseHDaoImpl" id="usrCashExpenseDao" init-method="init" name="usrCashExpenseDao" parent="baseHDao" scope="prototype"/>
    <!--UsrCcAlloc DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrCcAlloc.UsrCcAllocHDaoImpl" id="usrCcAllocDao" init-method="init" name="usrCcAllocDao" parent="baseHDao" scope="prototype"/>
    <!--UsrCcStatement DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrCcStatement.UsrCcStatementHDaoImpl" id="usrCcStatementDao" init-method="init" name="usrCcStatementDao" parent="baseHDao" scope="prototype"/>
    <!--UsrCcStatementD DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.UsrCcStatementD.UsrCcStatementDHDaoImpl" id="usrCcStatementDDao" init-method="init" name="usrCcStatementDDao" parent="baseHDao" scope="prototype"/>
</beans>
