<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--/*
 * Framework Generated MyBatis DTO Mapper XML Source
 * - ZEBRA_BOARD - 게시판
 */-->
<mapper namespace="zebra.example.conf.resource.ormapper.mybatis.oracle.ZebraBoard.ZebraBoardMapper">
	<resultMap id="hashmap" type="java.util.HashMap"></resultMap>

	<select id="selectAll" parameterType="hashmap" resultType="hashmap">
	<![CDATA[
		SELECT ARTICLE_ID,
		       BOARD_TYPE,
		       REF_ARTICLE_ID,
		       VISIT_CNT,
		       WRITER_NAME,
		       ARTICLE_CONTENTS,
		       ARTICLE_PASSWORD,
		       ARTICLE_SUBJECT,
		       TO_CHAR(INSERT_DATE, 'yyyymmddhh24miss') AS INSERT_DATE,
		       INSERT_USER_ID,
		       TO_CHAR(UPDATE_DATE, 'yyyymmddhh24miss') AS UPDATE_DATE,
		       UPDATE_USER_ID,
		       WRITER_EMAIL,
		       WRITER_ID,
		       WRITER_IP_ADDRESS
		  FROM ZEBRA_BOARD
		 WHERE 1 = 1
		 ${auto_fill}
		 ${frameworkGeneratedWhere}
		 ${frameworkGeneratedOrderBy}
		 FOR UPDATE
	]]>
	</select>

	<insert id="insert" parameterType="hashmap">
	<![CDATA[
		INSERT INTO ZEBRA_BOARD (
		       ARTICLE_ID,
		       BOARD_TYPE,
		       REF_ARTICLE_ID,
		       VISIT_CNT,
		       WRITER_NAME,
		       ARTICLE_CONTENTS,
		       ARTICLE_PASSWORD,
		       ARTICLE_SUBJECT,
		       INSERT_DATE,
		       INSERT_USER_ID,
		       UPDATE_DATE,
		       UPDATE_USER_ID,
		       WRITER_EMAIL,
		       WRITER_ID,
		       WRITER_IP_ADDRESS
		       )
		VALUES (
		       ${ARTICLE_ID},
		       ${BOARD_TYPE},
		       ${REF_ARTICLE_ID},
		       ${VISIT_CNT},
		       ${WRITER_NAME},
		       ${ARTICLE_CONTENTS},
		       ${ARTICLE_PASSWORD},
		       ${ARTICLE_SUBJECT},
		       ${INSERT_DATE},
		       ${INSERT_USER_ID},
		       ${UPDATE_DATE},
		       ${UPDATE_USER_ID},
		       ${WRITER_EMAIL},
		       ${WRITER_ID},
		       ${WRITER_IP_ADDRESS}
		       )
	]]>
	</insert>

	<insert id="insertWithDto" parameterType="zebra.example.conf.resource.ormapper.dto.oracle.ZebraBoard">
	<![CDATA[
		INSERT INTO ZEBRA_BOARD (
		       ARTICLE_ID,
		       BOARD_TYPE,
		       REF_ARTICLE_ID,
		       VISIT_CNT,
		       WRITER_NAME,
		       ARTICLE_CONTENTS,
		       ARTICLE_PASSWORD,
		       ARTICLE_SUBJECT,
		       INSERT_DATE,
		       INSERT_USER_ID,
		       UPDATE_DATE,
		       UPDATE_USER_ID,
		       WRITER_EMAIL,
		       WRITER_ID,
		       WRITER_IP_ADDRESS
		       )
		VALUES (
		       #{articleId,jdbcType=VARCHAR},
		       #{boardType,jdbcType=VARCHAR},
		       #{refArticleId,jdbcType=VARCHAR},
		       #{visitCnt,jdbcType=NUMERIC},
		       #{writerName,jdbcType=VARCHAR},
		       #{articleContents,jdbcType=CLOB},
		       #{articlePassword,jdbcType=VARCHAR},
		       #{articleSubject,jdbcType=VARCHAR},
		       #{insertDate,jdbcType=TIME},
		       #{insertUserId,jdbcType=VARCHAR},
		       #{updateDate,jdbcType=TIME},
		       #{updateUserId,jdbcType=VARCHAR},
		       #{writerEmail,jdbcType=VARCHAR},
		       #{writerId,jdbcType=VARCHAR},
		       #{writerIpAddress,jdbcType=VARCHAR}
		       )
	]]>
	</insert>

	<update id="update" parameterType="hashmap">
		UPDATE ZEBRA_BOARD
		   SET BOARD_TYPE = ${BOARD_TYPE},
		       REF_ARTICLE_ID = ${REF_ARTICLE_ID},
		       VISIT_CNT = ${VISIT_CNT},
		       WRITER_NAME = ${WRITER_NAME},
		       ARTICLE_CONTENTS = ${ARTICLE_CONTENTS},
		       ARTICLE_PASSWORD = ${ARTICLE_PASSWORD},
		       ARTICLE_SUBJECT = ${ARTICLE_SUBJECT},
		       INSERT_DATE = ${INSERT_DATE},
		       INSERT_USER_ID = ${INSERT_USER_ID},
		       UPDATE_DATE = ${UPDATE_DATE},
		       UPDATE_USER_ID = ${UPDATE_USER_ID},
		       WRITER_EMAIL = ${WRITER_EMAIL},
		       WRITER_ID = ${WRITER_ID},
		       WRITER_IP_ADDRESS = ${WRITER_IP_ADDRESS}
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	</update>

	<update id="updateWithDto" parameterType="zebra.example.conf.resource.ormapper.dto.oracle.ZebraBoard">
		UPDATE ZEBRA_BOARD
		   SET BOARD_TYPE = #{boardType,jdbcType=VARCHAR},
		       REF_ARTICLE_ID = #{refArticleId,jdbcType=VARCHAR},
		       VISIT_CNT = #{visitCnt,jdbcType=NUMERIC},
		       WRITER_NAME = #{writerName,jdbcType=VARCHAR},
		       ARTICLE_CONTENTS = #{articleContents,jdbcType=CLOB},
		       ARTICLE_PASSWORD = #{articlePassword,jdbcType=VARCHAR},
		       ARTICLE_SUBJECT = #{articleSubject,jdbcType=VARCHAR},
		       INSERT_DATE = #{insertDate,jdbcType=TIME},
		       INSERT_USER_ID = #{insertUserId,jdbcType=VARCHAR},
		       UPDATE_DATE = #{updateDate,jdbcType=TIME},
		       UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
		       WRITER_EMAIL = #{writerEmail,jdbcType=VARCHAR},
		       WRITER_ID = #{writerId,jdbcType=VARCHAR},
		       WRITER_IP_ADDRESS = #{writerIpAddress,jdbcType=VARCHAR}
		 WHERE 1 = 1
		 ${additionalAttributesForUpdateWithDto}
	</update>

	<update id="updateColumns" parameterType="zebra.example.conf.resource.ormapper.dto.oracle.ZebraBoard">
		UPDATE ZEBRA_BOARD
		   SET ${frameworkGeneratedColumnsToUpdate}
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	</update>

	<delete id="delete" parameterType="hashmap">
	<![CDATA[
		DELETE ZEBRA_BOARD
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	]]>
	</delete>
</mapper>