<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Default SessionFactory -->
	<bean id="hibernateLocalSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="${jdbc.using.dataSource}"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${log.hibernate.showSql}</prop>
				<prop key="format_sql">true</prop>
				<prop key="use_sql_comments">true</prop>
				<prop key="generate_statistics">true</prop>
				<prop key="org.hibernate.stat">debug</prop>
				<prop key="org.hibernate.tool.hbm2ddl">debug</prop>
			</props>
		</property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:${path.hibernate.mapperDirFwk}</value>
				<value>classpath:${path.hibernate.queryDirFwk}</value>
				<value>classpath:${path.hibernate.mapperDirProject}</value>
				<value>classpath:${path.hibernate.queryDirProject}</value>
			</list>
		</property>
	</bean>
</beans>