<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--/*
 * Framework Generated MyBatis DTO Mapper XML Source
 * - ZEBRA_DOMAIN_DICTIONARY - Domain Dictionary
 */-->
<mapper namespace="zebra.example.conf.resource.ormapper.mybatis.oracle.ZebraDomainDictionary.ZebraDomainDictionaryMapper">
	<resultMap id="hashmap" type="java.util.HashMap"></resultMap>

	<select id="selectAll" parameterType="hashmap" resultType="hashmap">
	<![CDATA[
		SELECT DOMAIN_ID,
		       DATA_TYPE,
		       DOMAIN_NAME,
		       NAME_ABBREVIATION,
		       DATA_LENGTH,
		       DATA_PRECISION,
		       DATA_SCALE,
		       DESCRIPTION,
		       TO_CHAR(INSERT_DATE, 'yyyymmddhh24miss') AS INSERT_DATE,
		       INSERT_USER_ID,
		       TO_CHAR(UPDATE_DATE, 'yyyymmddhh24miss') AS UPDATE_DATE,
		       UPDATE_USER_ID
		  FROM ZEBRA_DOMAIN_DICTIONARY
		 WHERE 1 = 1
		 ${auto_fill}
		 ${frameworkGeneratedWhere}
		 ${frameworkGeneratedOrderBy}
		 FOR UPDATE
	]]>
	</select>

	<insert id="insert" parameterType="hashmap">
	<![CDATA[
		INSERT INTO ZEBRA_DOMAIN_DICTIONARY (
		       DOMAIN_ID,
		       DATA_TYPE,
		       DOMAIN_NAME,
		       NAME_ABBREVIATION,
		       DATA_LENGTH,
		       DATA_PRECISION,
		       DATA_SCALE,
		       DESCRIPTION,
		       INSERT_DATE,
		       INSERT_USER_ID,
		       UPDATE_DATE,
		       UPDATE_USER_ID
		       )
		VALUES (
		       ${DOMAIN_ID},
		       ${DATA_TYPE},
		       ${DOMAIN_NAME},
		       ${NAME_ABBREVIATION},
		       ${DATA_LENGTH},
		       ${DATA_PRECISION},
		       ${DATA_SCALE},
		       ${DESCRIPTION},
		       ${INSERT_DATE},
		       ${INSERT_USER_ID},
		       ${UPDATE_DATE},
		       ${UPDATE_USER_ID}
		       )
	]]>
	</insert>

	<insert id="insertWithDto" parameterType="zebra.example.conf.resource.ormapper.dto.oracle.ZebraDomainDictionary">
	<![CDATA[
		INSERT INTO ZEBRA_DOMAIN_DICTIONARY (
		       DOMAIN_ID,
		       DATA_TYPE,
		       DOMAIN_NAME,
		       NAME_ABBREVIATION,
		       DATA_LENGTH,
		       DATA_PRECISION,
		       DATA_SCALE,
		       DESCRIPTION,
		       INSERT_DATE,
		       INSERT_USER_ID,
		       UPDATE_DATE,
		       UPDATE_USER_ID
		       )
		VALUES (
		       #{domainId,jdbcType=VARCHAR},
		       #{dataType,jdbcType=VARCHAR},
		       #{domainName,jdbcType=VARCHAR},
		       #{nameAbbreviation,jdbcType=VARCHAR},
		       #{dataLength,jdbcType=NUMERIC},
		       #{dataPrecision,jdbcType=NUMERIC},
		       #{dataScale,jdbcType=NUMERIC},
		       #{description,jdbcType=VARCHAR},
		       #{insertDate,jdbcType=TIME},
		       #{insertUserId,jdbcType=VARCHAR},
		       #{updateDate,jdbcType=TIME},
		       #{updateUserId,jdbcType=VARCHAR}
		       )
	]]>
	</insert>

	<update id="update" parameterType="hashmap">
		UPDATE ZEBRA_DOMAIN_DICTIONARY
		   SET DATA_TYPE = ${DATA_TYPE},
		       DOMAIN_NAME = ${DOMAIN_NAME},
		       NAME_ABBREVIATION = ${NAME_ABBREVIATION},
		       DATA_LENGTH = ${DATA_LENGTH},
		       DATA_PRECISION = ${DATA_PRECISION},
		       DATA_SCALE = ${DATA_SCALE},
		       DESCRIPTION = ${DESCRIPTION},
		       INSERT_DATE = ${INSERT_DATE},
		       INSERT_USER_ID = ${INSERT_USER_ID},
		       UPDATE_DATE = ${UPDATE_DATE},
		       UPDATE_USER_ID = ${UPDATE_USER_ID}
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	</update>

	<update id="updateWithDto" parameterType="zebra.example.conf.resource.ormapper.dto.oracle.ZebraDomainDictionary">
		UPDATE ZEBRA_DOMAIN_DICTIONARY
		   SET DATA_TYPE = #{dataType,jdbcType=VARCHAR},
		       DOMAIN_NAME = #{domainName,jdbcType=VARCHAR},
		       NAME_ABBREVIATION = #{nameAbbreviation,jdbcType=VARCHAR},
		       DATA_LENGTH = #{dataLength,jdbcType=NUMERIC},
		       DATA_PRECISION = #{dataPrecision,jdbcType=NUMERIC},
		       DATA_SCALE = #{dataScale,jdbcType=NUMERIC},
		       DESCRIPTION = #{description,jdbcType=VARCHAR},
		       INSERT_DATE = #{insertDate,jdbcType=TIME},
		       INSERT_USER_ID = #{insertUserId,jdbcType=VARCHAR},
		       UPDATE_DATE = #{updateDate,jdbcType=TIME},
		       UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
		 WHERE 1 = 1
		 ${additionalAttributesForUpdateWithDto}
	</update>

	<update id="updateColumns" parameterType="zebra.example.conf.resource.ormapper.dto.oracle.ZebraDomainDictionary">
		UPDATE ZEBRA_DOMAIN_DICTIONARY
		   SET ${frameworkGeneratedColumnsToUpdate}
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	</update>

	<delete id="delete" parameterType="hashmap">
	<![CDATA[
		DELETE ZEBRA_DOMAIN_DICTIONARY
		 WHERE 1 = 1
		 ${frameworkGeneratedWhere}
	]]>
	</delete>
</mapper>